@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set a consistent background color */
body {
  @apply bg-background text-foreground;
}

:root {
  --background: 0 0% 3.9%; /* Dark background */
  --foreground: 0 0% 98%; /* Light text */
}

/* Ensure dark mode consistency */
.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
}

.navbar-static-gradient {
  border: 2px solid transparent;
  background: linear-gradient(#18181b, #18181b) padding-box, linear-gradient(90deg, #a855f7, #ec4899, #3b82f6) border-box;
  border-radius: 9999px;
}


